<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.tnttest.hello.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloForm</display-name>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>com.tnttest.hello.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBox</display-name>
    <servlet-name>CheckBox</servlet-name>
    <servlet-class>com.tnttest.hello.CheckBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBox</servlet-name>
    <url-pattern>/CheckBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadParams</display-name>
    <servlet-name>ReadParams</servlet-name>
    <servlet-class>com.tnttest.hello.ReadParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadParams</servlet-name>
    <url-pattern>/ReadParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayHeader</display-name>
    <servlet-name>DisplayHeader</servlet-name>
    <servlet-class>com.runoob.httpservlet.DisplayHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHeader</servlet-name>
    <url-pattern>/DisplayHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refresh</display-name>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>com.runoob.httpservlet.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/Refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowError</display-name>
    <servlet-name>ShowError</servlet-name>
    <servlet-class>com.runoob.httpservlet.ShowError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowError</servlet-name>
    <url-pattern>/ShowError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo4Filter</display-name>
    <servlet-name>Demo4Filter</servlet-name>
    <servlet-class>com.runoob.FilterServlet.Demo4Filter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo4Filter</servlet-name>
    <url-pattern>/Demo4Filter</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LogFilter</display-name>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.runoob.FilterServlet.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/Demo4Filter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.runoob.errorpage.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie2Form</display-name>
    <servlet-name>Cookie2Form</servlet-name>
    <servlet-class>com.runoob.cookie.Cookie2Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie2Form</servlet-name>
    <url-pattern>/Cookie2Form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookies</display-name>
    <servlet-name>ReadCookies</servlet-name>
    <servlet-class>com.runoob.cookie.ReadCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookies</servlet-name>
    <url-pattern>/ReadCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCookies</display-name>
    <servlet-name>DeleteCookies</servlet-name>
    <servlet-class>com.runoob.cookie.DeleteCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookies</servlet-name>
    <url-pattern>/DeleteCookies</url-pattern>
  </servlet-mapping>
</web-app>